/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GORAN.ttf);
}

@font-face {
  font-family: 'Azbuka';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/azbuka.ttf);
}
